@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #282c34;
}

h1{
    color: white;
    text-align: center;
}

.center-calc{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.calculator{
    width: 20%;
    height: 60vh;
    text-align: center;
    color: white;
    background-color: #1a1a1a;
    border: 2px solid #ff9c3c;
}

.top-screen{
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 64px;
    text-align: right;
    height: 10vh;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.numbers, .operators{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-number table{
    width: 15vw;
    height: 40vh;
}

.list-number button, .list-operator button, .equal button{
    font-size: 50px;
    width: 60px;
    background: none;
    color: white;
}

.list-operator tr{
    display: flex;
    flex-direction: column;
}

#number-0{
    width: 11.4vw;
}

#over-nine{
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}